html {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0.18538753391981788) 0%, rgba(58,148,255,0.09575167957808128) 93%); 
}

.header {
    text-align: center;
}